# Ignore the contributor's local assets folder, subfolders, and files
 NEC PROJECT/Assets/~Local/*
 NEC PROJECT/Assets/~Local/**/*
 NEC PROJECT/Assets/~Local.meta
 
 # Ignore Library files
 NEC PROJECT/Library/*
 NEC PROJECT/Library/**/*
 
 # Ignore local build files
 NEC PROJECT/obj/*
 NEC PROJECT/obj/**/*
 NEC PROJECT/Temp/*
 NEC PROJECT/Temp/**/*
 
 # Ignore local project files
 NEC PROJECT/*.csproj
 NEC PROJECT/*.pidb
 NEC PROJECT/*.sln
 NEC PROJECT/*.suo
 NEC PROJECT/*.unityproj
 NEC PROJECT/*.userprefs